compile_commands.json

.cache/
GPATH
GRTAGS
GTAGS

doxygen_output/
docs/modules/ROOT/pages/*.html
!docs/modules/ROOT/pages/docinfo.html

*.pyc
__pycache__/
test_cli/data/newsgroups/
test_cli/.pytest_cache/

build/
cmake_build/
cmake_release_build/
cmake_debug_build/
qmake_build/

test/labelbuddy_tests
test_build/
labelbuddy
!scripts/data/windows_installer/packages/labelbuddy/

moc_*
src/moc_*
qrc_resources.cpp
qrc_test_resources.cpp
.qmake.stash

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app